    {% include 'base_nav.html' %}

    {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>XREP API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bs.min.css') }}">
  <script src="{{ url_for('static', filename='bs.bundle.min.js') }}"></script>
</head>
<body>

<div class="container p-5 my-5 border">
  <p>Sorry, it's yet to complete...</p>
<!--   <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="#"></iframe>
  </div> -->
</div>

</body>
</html>
    {% endblock %}