<!DOCTYPE html>
<html lang="en">
<head>
  <title>P-REX BETA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <h2>P-REX BETA-0.2</h2>
  <p>Please post non-wrap text (enlarge the textfield for full view)</p>
  <form>
    <div class="form-group">
      <textarea class="form-control" style="font-family:revert;background: url(http://i.imgur.com/2cOaJ.png) top -12px left / auto no-repeat, 
              linear-gradient(#ffff 50%, #ffff  50%) top left / 100% 32px; padding: 0 0 0 30px;" type="color" value="#563d7c" rows="10" placeholder="place non-wrap text here" id="area"></textarea>
    </div>
  </form>

</div>

<h4 id="lineNo"></h4>
<script>
    document.querySelector('textarea').addEventListener('mouseup', (evt) => {
  const el = evt.target;
  const entire_line = area.value.split("\n");
  const lineNo = el.value.substr(0, el.selectionStart).split("\n").length;
  const selText = el.value.substr(el.selectionStart, el.selectionEnd - el.selectionStart);
  const lineStart = area.value.lastIndexOf("\n", area.selectionStart) + 1
  const from_index = area.selectionStart - lineStart;
  const upto_index = area.selectionEnd - lineStart;

  console.log(lineNo, selText);
    var entry = {
      LINENUMBER: lineNo,
      TEXTSELECTED: selText,
      WHOLE_STUFF: entire_line,
      start_index: from_index,
      end_index: upto_index
    };
  //now use fetch

    fetch(`${window.origin}/entry`, {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(entry),
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
    })
      .then(function (response) {
        if (response.status !== 200) {
          console.log(`Looks like there was a problem. Status code: ${response.status}`);
          return;
        }
        response.json().then(function (data) {
          if (data  == "empty string") {
            console.log("empty");
          }
          else{
            console.log(data);
          };
        });
      })
      .catch(function (error) {
        console.log("Fetch error: " + error);
      });

});

</script>

</html>
