    {% include 'base_nav.html' %}

    {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>XREP DOCS</title>

<body>

<div class="container p-5 my-5 border">

 <p class="bg-info">## What is XREP</p>
<br><p style="font-family:monospace;">
XREP is not for replacing your regex skills. Infact the purpose is so narrow. It CANNOT do most things. But very specific things with it's own limitations. XREP can help you to generate patterns for given string. It can generate POSIX-ERE patterns and Python patterns. With the ease of selecting the desired text.</p>


 <p class="bg-info">## How XREP works</p>
<br><p style="font-family:monospace;">
XREP does not use any libs for generating patterns. Infact it uses built-in lib like `itertools` for solving some problems. It uses `python re`while using Run-Test feature to run those patterns under the hood. But it does not help in anyways to generate the patterns. XREP is written in Python and Js. Making use of efficient conditioning, it takes any text and generate patterns using that. Later, we dive into a term (concept) we use through out called 'boundaries' to achieve better results. Overall, if you know how to regex, you can say some program to generate the same on given situations. But, XREP is very limited and for very specific things. Because, regex can get complex. We will how how XREP works behind in detail in next section.
</p>
 <p class="bg-info">## Video demo</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3o9VmPP9N7o"></iframe>
</div>
</div>
</body>
</html>
    {% endblock %}