<!DOCTYPE html>
<html lang="en">
<head>
    <title>Donate to XREP ♥</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>ThankYou for your attention! ♥</h1>      
    <p>My name is Ben Shaji, I'm a CSE grad working on hobby/pending projects as of now.<br>
    Blog/About: https://b3nsh4.tk <br>
    Twitter: https://twitter.com/b3nsh4 <br>
      <br>If you can donate me, it will really help me to continue this project and i can spend the same on domain and  my old laptop.
    You can donate me via Paypal and UPI: <br>
    ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈ <br>
    PayPal: https://paypal.me/b3nsh4 <br>
    UPI: private.benshaji@okaxis
    </p>
    <img src="{{url_for('static', filename='UPI-QR.jpg')}}" alt="QR" style="width:100%"> 
     <center> <br><br><br>
    <a href="{{ url_for('getstarted') }}" class="btn btn-info" role="button">go back</a>  </center>  

 </div>
</div>

</body>
</html>
