<!DOCTYPE html>
<html lang="en">
<head>
    <title>Donate to XREP ♥</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bs.min.css') }}">
  <script src="{{ url_for('static', filename='bs.bundle.min.js') }}"></script>
</head>
<body>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
    <h1>ThankYou for your attention! ♥</h1>      
    <p>My name is Ben Shaji, I'm a CSE grad working on hobby/pending projects as of now.
      <br>
     About Me: <a href="https://b3nsh4.com" target="None">Blog/About</a> <br>
   
      <p> If you can donate me, it will really help me to continue this project and i can spend the same on domain and replacing my old laptop.
    You can donate me via Paypal and UPI: </p>
    ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈ <br>
    PayPal: <a href="https://paypal.me/b3nsh4">Donate</a> <br>
    UPI: private.benshaji@okaxis
    </p>
    <img src="{{url_for('static', filename='images/UPI-QR.jpg')}}" alt="QR" style="width:70%"> 
     <center> <br><br><br>
    <a href="{{ url_for('getstarted') }}" class="btn" role="button"><-- go back</a>  </center>  

 </div>
</div>

</body>
</html>
