<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
      <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bs.min.css') }}">
     <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fa.min.css') }}"> -->

  <script src="{{ url_for('static', filename='bs.bundle.min.js') }}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='textbox.css') }}"> -->



  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('donate_xrep') }}">Donate♡</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">API</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Github</a>
    </li>
  </ul>
    <div class="container mt-5 border">
  <title>𝙓𝙍𝙀𝙋</title>
</head>
<style> 
</style> 
</head>
<body>
<!-- ADD LINE NUMBER CHECK BOX HEREW -->
<br>
<center>𝙓𝙍𝙀𝙋 𝘽𝙀𝙏𝘼 𝙑.03</center>
<!-- <textarea class="txtarea"  wrap="off" rows="17" placeholder="Paste your text here 👇  
          This TextArea is resizeable 👉" cols="10" id="area"></textarea> -->
     <textarea class="form-control" placeholder="Paste your text here 👇  
          This TextArea is resizeable 👉" style="resize: both;font-family:revert;background: url(../static/ints.png) top -12px left / auto no-repeat, 
    linear-gradient(#ffff 50%, #ffff  50%) top left / 100% 32px; padding: 0 0 0 30px;" type="color" value="#563d7c" onselect="handle_select()" rows="10" placeholder="place non-wrap text here" id="area"></textarea>
 <center>
<span id="target_text"></span>
<br>
<button type="submit" onclick="generator()" id="gen_button" class="btn btn-success btn-sm">Generate</button>
        <br> 
  <p class="text-primary">LineNumber: <input class="form-check-input" autocomplete="off" type="checkbox" id="LineChecker" onchange="LineChkFn()">&nbsp; &nbsp; &nbsp;&nbsp; 

    LHS Vary: <input class="form-check-input" type="checkbox" autocomplete="off" id="LHSChecker" onchange="LHSChkFn()" >&nbsp;&nbsp;&nbsp;&nbsp;   

    RHS Vary: <input type="checkbox" class="form-check-input" autocomplete="off" id="RHSChecker" onchange=" RHSChkFn()">&nbsp;&nbsp;&nbsp;&nbsp; 

    StaticBrd: <input type="checkbox" class="form-check-input" autocomplete="off" id="brdcheck" onclick="show_brd_options()"> 
  </p> 
  </center>

<div id="display_static_brd" style="display:none">
    <span class="badge rounded-pill bg-secondary" id="100"></span>
    <span class="badge rounded-pill bg-secondary" id="101"></span>
    <span class="badge rounded-pill bg-secondary" id="102"></span>
    <span class="badge rounded-pill bg-secondary" id="103"></span>
</div>

<center>
  <button type="button" style="display:none;" class="btn btn-warning btn-sm" id="makeclear" onclick="clear_static_brd()">Clear</button>
  <button type="button" style="display:none;" onclick="add_custombrd()" class="btn btn-primary btn-sm" id="add_static">Add</button>
  <br>
      </center><br>

        <!-- &#xf0c5; replace this instead of 'copy' to get icon affter enabling fontawesome cdn -->
  <div class="row">
    <div class="col-sm-4">
      <h5>PATTERN -1 ⁽ˢᵉᵗ⁾ 
     <button onclick="copyElementText('patt1')" style="font-size:10px" class="btn btn-link">copy </button></h5>
      <p id="patt1" style="font-size: 15px;"></p>
    </div>
    <div class="col-sm-4">
      <h5>PATTERN -2 ⁽ˢᵗ⁾
  <button onclick="copyElementText('patt2')" style="font-size:10px" class="btn btn-link">copy </button></h5>
      <p id="patt2" style="font-size: 15px;"></p>
    </div>
    <div class="col-sm-4">
      <h5>PATTERN -3 ⁽ˢˢᵗ⁾ 
     <button onclick="copyElementText('patt3')" style="font-size:10px" class="btn btn-link">copy </button></h5>
      <p id="patt3" style="font-size: 15px;"></p>      
    </div>
      

       <div class="col-sm-4">
     
      <h5>PATTERN -4 ⁽ᵉᵗ⁻¹⁾
      <button onclick="copyElementText('patt4')" style="font-size:10px" class="btn btn-link">copy </button></h5>
      <p id="patt4" style="font-size: 14px;"></p>      
    </div>
       
       <div class="col-sm-4">
      
      <h5>PATTERN -5 ⁽ᵉᵗ⁻²⁾
     <button onclick="copyElementText('patt5')" style="font-size:11px" class="btn btn-link">copy </button></h5> 
      <p id="patt5" style="font-size: 15px;"></p>      
    </div>
    
       <div class="col-sm-4">
     
      <h5>PATTERN -6 

      <button onclick="copyElementText('patt6')" style="font-size:10px" class="btn btn-link">copy</button>  </h5>    
      <p id="patt6" style="font-size: 14px;"></p>   
    </div>

  </div>
</div>
<br>
<center><a href="#" id="bug"><button type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-secondary btn-sm">One-click Report this wrong result!</button><br></center></a>
<br>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="report_status"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h6 id="report_notes"></h6>
      </div>

      <!-- Modal footer -->
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
 -->
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='jq.min.js') }}"></script>
<script type=text/javascript>
        $(function() {
          $('a#bug').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/bug',
                function(data) {
                  document.querySelector("#report_status").innerText = data.status;
                  document.querySelector("#report_notes").innerText = data.notes;
              //do nothing
            });
            return false;
          });
        });
</script>

<script>
 let lrhs = "";
let custom_brd_list = []; // dict to store the index , selText
let target = ""; //current target
//below is index range of the target
let lineStart = 0;
let start_target_at = 0;
let end_target_at = 0;
let dynamic_static_id=100;
//above is index range of the target

const textarea_data = document.getElementById("area");

function handle_select() { // this fn is to display the current selected text onselect event 

    var CheckBox_StaticBrd = document.getElementById("brdcheck").checked;
    // displaying target
    lineStart = area.value.lastIndexOf("\n", area.selectionStart) + 1;

    if (CheckBox_StaticBrd == false) { //if static is not checked, it should be target. else its boundary

        target = textarea_data.value.substr(textarea_data.selectionStart, textarea_data.selectionEnd -textarea_data.selectionStart);
        start_target_at = area.selectionStart - lineStart; // t0
        end_target_at = area.selectionEnd - lineStart; // t1
    } // if cond ends
    else if (CheckBox_StaticBrd == true) {
        let start_bndry_at = area.selectionStart - lineStart; // b0
        let end_bndry_at = area.selectionEnd - lineStart; // b1
        if (start_target_at > end_bndry_at) {
            //console.log("lhs"); 
        } else if (start_bndry_at > end_target_at) {
            //console.log("rhs");
        } else {
            alert("Static strings cannot include target itself!");
            return; // if boundary include target itself, yell!!
        }

    }

    if (target.length > 50) { // this is the limit of 50 chars, backend behaves the same.
        document.getElementById("target_text").innerText = "_𝘯𝘰𝘯-𝘶𝘴𝘦𝘧𝘶𝘭 𝘱𝘢𝘵𝘵𝘦𝘳𝘯_";
    } else {
        document.getElementById("target_text").innerText = target;
    }
}

let islinechecked = false;
let isRHSchecked = false;
let isLHSchecked = false;
// add more vars if needed to above

function LineChkFn() {
    islinechecked = document.getElementById("LineChecker").checked;

}

function RHSChkFn() {
    isRHSchecked = document.getElementById("RHSChecker").checked;

}

function LHSChkFn() {
    isLHSchecked = document.getElementById("LHSChecker").checked;

}
// when hit "add" selText will be displayed whereever mentioned

function add_custombrd() {
    if (target == "") {
        return alert("_add 'target' first_"); // if user is choosing boundary before target
    }
    const brd_lineStart = area.value.lastIndexOf("\n", area.selectionStart) + 1;
    const start_bndry_at = area.selectionStart - brd_lineStart; // b0
    const end_bndry_at = area.selectionEnd - brd_lineStart; // b1
    const selText = textarea_data.value.substr(textarea_data.selectionStart, textarea_data.selectionEnd - textarea_data.selectionStart);

    if (start_target_at > end_bndry_at) {
        lrhs = 'lhs';
    } else if (start_bndry_at > end_target_at) {
        lrhs = 'rhs';
    } else {
        alert("Static strings cannot include target itself!");
        return; // if boundary include target itself, yell!!
    }
    
    //making sure to restrict 4 strings
    if (custom_brd_list.length > 3)
    {
        return alert("not more than 4 static strings");
    }
    else{

        push_statics = ({
            index: [start_bndry_at, end_bndry_at],
            word: selText,
            lrhs: lrhs
        });
        custom_brd_list.push(push_statics);
    }
    console.log(dynamic_static_id);
    document.getElementById(dynamic_static_id).innerText = selText;
    dynamic_static_id=dynamic_static_id+1;
    // add text to 100 101 102 id
}


function clear_static_brd() {
    document.getElementById("display_static_brd").innerText = "";
    custom_brd_list = []; //clear elements
    dynamic_static_id=100;
}

// if staticbrd is checked, show options, else show nothing
function show_brd_options() {
    var CheckBox_StaticBrd = document.getElementById("brdcheck").checked;
    if (CheckBox_StaticBrd == true) {
        document.getElementById('makeclear').style.display = "inline";
        document.getElementById('add_static').style.display = "inline";
		document.getElementById('display_static_brd').style.display = "inline";
    } else {
        document.getElementById('makeclear').style.display = "none";
        document.getElementById('add_static').style.display = "none";
        document.getElementById('display_static_brd').style.display = "none"; 

    }
}

function copyElementText(id) {
    var text = document.getElementById(id).innerText;
    var elem = document.createElement("textarea");
    document.body.appendChild(elem);
    elem.value = text;
    elem.select();
    document.execCommand("copy");
    document.body.removeChild(elem);

}

 let sorted_custom_brd=[];
function generator() {
        

    // sorting the custom_brd_list below
    if (custom_brd_list.length > 1) {

        sorted_custom_brd = custom_brd_list.sort((a, b) => {
        if (a.index[0] === b.index[0])
        {
            alert("already added!");
            return;
        }
        else if (a.index[0] < b.index[0])
        return 1;
        
        }); 
    }

    const entire_line = area.value.split("\n");
    const lineNo = textarea_data.value.substr(0, textarea_data.selectionStart).split("\n").length;
    const selText = target; // current target
    if (selText.length == 0) {
        return "";
    } // to avoid undefined when no selection and hit generate
    const lineStart = area.value.lastIndexOf("\n", area.selectionStart) + 1;


    var entry = {
        STATIC_STRINGS: sorted_custom_brd,
        LINENUMBER: lineNo,
        TEXTSELECTED: selText,
        WHOLE_STUFF: entire_line,
        start_index: start_target_at,
        end_index: end_target_at,
        TheLineNumStat: islinechecked,
        TheLHSNumStat: isLHSchecked,
        TheRHSNumStat: isRHSchecked,
        full_line: entire_line,
        // word_index:word_index,
        // static_array: custom_brd_list
    }
    //using fetch function to send data to /entry endpoint


    void async function() {

        const response = await fetch(`${window.origin}/entry`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        });
        const data = await response.json();
        document.querySelector("#patt1").innerText = data.pattern_1_result;
        document.querySelector("#patt2").innerText = data.pattern_2_result;
        document.querySelector("#patt3").innerText = data.pattern_3_result;
        document.querySelector("#patt4").innerText = data.pattern_4_result;
        document.querySelector("#patt5").innerText = data.pattern_5_result;
        document.querySelector("#patt6").innerText = data.pattern_6_result;

        // document.body.appendChild(document.createTextNode(data.sub_with_spec_nums));
    }();

};
</script>

</html>
