<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bs.min.css') }}">
     <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fa.min.css') }}"> -->

  <script src="{{ url_for('static', filename='bs.bundle.min.js') }}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='textbox.css') }}"> -->



  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('donate_xrep') }}">Donate♡</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">API</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Github</a>
    </li>
  </ul>
    <div class="container mt-5 border">
  <title>𝙓𝙍𝙀𝙋</title>
</head>
<style> 
</style> 
</head>
<body>
<!-- ADD LINE NUMBER CHECK BOX HEREW -->
<br>
<center>𝙓𝙍𝙀𝙋 𝘽𝙀𝙏𝘼 𝙑.03</center>
<!-- <textarea class="txtarea"  wrap="off" rows="17" placeholder="Paste your text here 👇  
          This TextArea is resizeable 👉" cols="10" id="area"></textarea> -->
     <textarea class="form-control" placeholder="Paste your text here 👇  
          This TextArea is resizeable 👉" style="resize: both;font-family:revert;background: url(../static/ints.png) top -12px left / auto no-repeat, 
    linear-gradient(#ffff 50%, #ffff  50%) top left / 100% 32px; padding: 0 0 0 30px;" type="color" value="#563d7c" rows="10" placeholder="place non-wrap text here" id="area"></textarea>
<br> <center>
  <p class="text-primary">LineNumber: <input class="form-check-input" type="checkbox" id="LineChecker" onchange="LineChkFn()">&nbsp; &nbsp; &nbsp;&nbsp; LHS Vary: <input class="form-check-input" type="checkbox" id="LHSChecker" onchange="LHSChkFn()" >&nbsp;&nbsp;&nbsp;&nbsp;   RHS Vary: <input type="checkbox" class="form-check-input" id="RHSChecker" onchange=" RHSChkFn()">&nbsp;&nbsp;&nbsp;&nbsp; StaticBrd: <input type="checkbox" class="form-check-input" id="brdcheck" onclick="custombrd()"></p>
<p class="text-success" id="gere" ></p>

    <button type="button" class="btn btn-primary btn-sm">Add</button>
      <button type="button" onclick="generator()" class="btn btn-success btn-sm">Generate</button>
      </center><br>
  

  <div class="row">
    <div class="col-sm-4">
      <h5>PATTERN -1 ⁽ˢᵉᵗ⁾
     <button onclick="copyElementText('patt1')" style="font-size:10px" class="fa btn bg-transparent">&#xf0c5; </button></h5>
      <p id="patt1" style="font-size: 15px;"></p>
    </div>
    <div class="col-sm-4">
      <h5>PATTERN -2 ⁽ˢᵗ⁾
  <button onclick="copyElementText('patt2')" style="font-size:10px" class="fa btn bg-transparent">&#xf0c5; </button></h5>
      <p id="patt2" style="font-size: 15px;"></p>
    </div>
    <div class="col-sm-4">
      <h5>PATTERN -3 ⁽ˢˢᵗ⁾ 
     <button onclick="copyElementText('patt3')" style="font-size:10px" class="fa btn bg-transparent">&#xf0c5; </button></h5>
      <p id="patt3" style="font-size: 15px;"></p>      
    </div>
      

       <div class="col-sm-4">
     
      <h5>PATTERN -4 ⁽ᵉᵗ⁻¹⁾
      <button onclick="copyElementText('patt4')" style="font-size:10px" class="fa btn bg-transparent">&#xf0c5; </button></h5>
      <p id="patt4" style="font-size: 14px;"></p>      
    </div>
       
       <div class="col-sm-4">
      
      <h5>PATTERN -5 ⁽ᵉᵗ⁻²⁾
     <button onclick="copyElementText('patt5')" style="font-size:11px" class="fa btn bg-transparent">&#xf0c5; </button></h5> 
      <p id="patt5" style="font-size: 15px;"></p>      
    </div>
    
       <div class="col-sm-4">
     
      <h5>PATTERN -6 
      <button onclick="copyElementText('patt6')" style="font-size:10px" class="fa btn bg-transparent">&#xf0c5; </button>  </h5>    
      <p id="patt6" style="font-size: 14px;"></p>   
    </div>

  </div>
</div>
<br>
<center><a href="#" id="bug"><button type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-secondary btn-sm">One-click Report this wrong result!</button><br></center></a>
<br>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="report_status"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h6 id="report_notes"></h6>
      </div>

      <!-- Modal footer -->
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
 -->
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='jq.min.js') }}"></script>
<script type=text/javascript>
        $(function() {
          $('a#bug').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/bug',
                function(data) {
                  document.querySelector("#report_status").innerText = data.status;
                  document.querySelector("#report_notes").innerText = data.notes;
              //do nothing
            });
            return false;
          });
        });
</script>

<script>
    let islinechecked=false;
    let isRHSchecked=false;
    let isLHSchecked=false;
    // add more vars if needed to above
    function LineChkFn() {
      islinechecked = document.getElementById("LineChecker").checked;

    }
  function RHSChkFn() {
      isRHSchecked = document.getElementById("RHSChecker").checked;

    }
      function LHSChkFn() {
      isLHSchecked = document.getElementById("LHSChecker").checked;

    }
    function custombrd() {

    }

    function copyElementText(id) {
    var text = document.getElementById(id).innerText;
    var elem = document.createElement("textarea");
    document.body.appendChild(elem);
    elem.value = text;
    elem.select();
    document.execCommand("copy");
    document.body.removeChild(elem);

}


  function generator(){
      var checkBox = document.getElementById("brdcheck");
  if (checkBox.checked == false){
  // console.log(islinechecked);
  const el = document.getElementById("area");
  const entire_line = area.value.split("\n");
  const lineNo = el.value.substr(0, el.selectionStart).split("\n").length;
  const selText = el.value.substr(el.selectionStart, el.selectionEnd - el.selectionStart);
  const lineStart = area.value.lastIndexOf("\n", area.selectionStart) + 1
  const from_index = area.selectionStart - lineStart;
  const upto_index = area.selectionEnd - lineStart;
  // console.log(entire_line[lineNo])
  const word_index = [from_index,upto_index]; // returns the word index from:upto
  const full_line = entire_line[lineNo-1]; //line no starts with 1 and we minus-1 therefore
  // console.log(full_line);
  // string.split("\n").map(elem => elem.trim()).join("\n")
  // fot touch
  

    var entry = {
      LINENUMBER: lineNo,
      TEXTSELECTED: selText,
      WHOLE_STUFF: entire_line,
      start_index: from_index,
      end_index: upto_index,
      TheLineNumStat: islinechecked,
      TheLHSNumStat: isLHSchecked,
      TheRHSNumStat: isRHSchecked,
      full_line: full_line,
      word_index:word_index
    }
}
  //using fetch function to send data to /entry endpoint

void async function(){
  var checkBox = document.getElementById("brdcheck");
  if (checkBox.checked == false){
    const response = await fetch(`${window.origin}/entry`, {
        method: "POST",
        credentials: "include",
        body: JSON.stringify(entry),
        cache: "no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    });
    const data = await response.json();
    document.querySelector("#patt1").innerText = data.pattern_1_result;
    document.querySelector("#patt2").innerText = data.pattern_2_result;
    document.querySelector("#patt3").innerText = data.pattern_3_result;
    document.querySelector("#patt4").innerText = data.pattern_4_result;
    document.querySelector("#patt5").innerText = data.pattern_5_result;
    document.querySelector("#patt6").innerText = data.pattern_6_result;
    
    }// document.body.appendChild(document.createTextNode(data.sub_with_spec_nums));
}();

};

</script>

</html>