<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        
      <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bs.min.css') }}">

  <script src="{{ url_for('static', filename='bs.bundle.min.js') }}"></script>

       <textarea class="form-control" placeholder="Paste your text here 👇  
          This TextArea is resizeable 👉" style="resize: both;font-family:monospace" type="color" value="#563d7c" onselect="handle_select()" rows="6" placeholder="place non-wrap text here" id="area"></textarea>

 </head></html>