<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        
      <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bs.min.css') }}">

  <script src="{{ url_for('static', filename='bs.bundle.min.js') }}"></script>

       <textarea class="form-control" 
        style="resize: none;font-family:monospace;box-shadow: none;"
        onselect="handle_select()" rows="6" id="area"></textarea>

<script type="text/javascript">
    let textarea_text = "// YOUR TEXT GOES HERE //\n"+
    "- SELECT THE TEXT THAT YOU WANT TO GENERATE PATTERN FOR\n"+
    "- USE 'GENERATE' AND IF NEEDED 'RUN-TEST' TO RUN RESULTS\n";
    document.getElementById("area").placeholder=textarea_text;
</script>
 </head></html>